body{
    padding: 0px;
    margin: 0px;
}
.for-header
{
    padding:12px;
    background-color: rgb(154, 70, 232);
    text-align: center;
    color: white;
    
}
.flex-container
{
    display:flex;
    height: 100%;
    margin: 12px;
}
.align-h
{
    justify-content: space-between;
}
.align-v
{
    align-items: center;
}
.for-footer
{
    padding: 12px;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(91, 91, 200);
  color: white;
  text-align: center;
}
